auth:
  type: github
  github:
    clientId: abcdefgh12345abcdefg
    clientSecret: abcdefgh12345abcdefgabcdefgh12345abcdefg
    callbackUrl: https://hub.alerts.wtf/hub/oauth_callback
  admin:
    access: true
    users:
      - mjuric
